<h1> Copy URL to start reading </h1>

<%= form_for :page, remote: true, url: pages_path do |f| %>
 
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>

  <p>
  	<%= f.label :speed %><br>
  	<%= f.select :speed, options_for_select([["60 wpm", 60], ["100 wpm", 100], ["200 wpm", 200]]) %>
  </p>

  <p>
  	<%= f.label :color %><br>
  	<%= f.select :color, options_for_select([["black", "b"], ["random", "r"]]) %>
  </p>
 
  <p>
    <%= f.submit "Read!", :id => "read_btn"%>
  </p>
<% end %>

<div id="notification">
  &nbsp;
</div>

<canvas id="myCanvas" width="350" height="70" style="border:1px solid #000000;">
Your browser does not support the HTML5 canvas tag.
</canvas>
<%= button_to "Pause", pause_pages_path, remote: true, method: :get  %><br />
<%= button_to "Resume", resume_pages_path, remote: true, method: :get  %><br />