<h1> Copy URL to start reading </h1>

<%= form_for :page, remote: true, url: pages_path do |f| %>
 
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>

  <p>
  	<%= f.label :speed %><br>
  	<%= f.select :speed, options_for_select([["60 wpm", 60], ["100 wpm", 100], ["200 wpm", 200]]) %>
  </p>

  <p>
  	<%= f.label :color %><br>
  	<%= f.select :color, options_for_select([["black", "b"], ["random", "r"]]) %>
  </p>
 
  <p>
    <%= f.submit "Read!", :id => "read_btn"%>
  </p>
<% end %>

<div id="notification">
  &nbsp;
</div>

<canvas id="myCanvas" width="350" height="70" style="border:1px solid #000000;">
Your browser does not support the HTML5 canvas tag.
</canvas>
<%= button_to "Pause", pause_pages_path, remote: true, method: :put  %><br />
<%= button_to "Resume", resume_pages_path, remote: true, method: :put  %><br />


<script>

  // Other environments, such as production.
  var pusher = new Pusher('99b6cb58a1159ad76403', {
      encrypted: true,
      disableStats: true
    });

  var channel = pusher.subscribe('test_channel');
  channel.bind('my_event', function(data) {

    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.clearRect(0, 0, c.width, c.height);
    ctx.font = "30px Arial";
    ctx.fillStyle = data.color;
    ctx.textAlign = "center";
    ctx.fillText(data.word,175,50);
  });
</script>

