<!DOCTYPE html>
<html>
<head>
  <title>Reader</title>
  <script src="https://js.pusher.com/2.2/pusher.min.js"></script>
  <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Reader</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li><p class="navbar-text">Signed in as <%= current_user.username %>.</p></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
              <li><%= link_to "My pages", pages_path, :method => :get %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Log in", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="jumbotron">
        <%= yield %>
      </div>

    </div>





</body>
</html>
